@import './utils/variables.scss';
@import './layout/arrow.scss';

body {
    background: #050505;
    height: 100vh;

    * {
        color: #fff;
        margin: 0;
        padding: 0;
    }
}

html {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#home {
    height: 100vh;
    width: 100%;
    position: relative;

    .home-mess {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        padding: 30px;
        opacity: 0;
        transition: 1.25s opacity ease;
        -webkit-transition: 1.25s opacity ease;
        -moz-transition: 1.25s opacity ease;
        -o-transition: 1.25s opacity ease;
        -ms-transition: 1.25s opacity ease;

        &.hide{
            opacity: 0 !important;
            transition: 1.25s opacity ease !important;
            -webkit-transition: 1.25s opacity ease !important;
            -moz-transition: 1.25s opacity ease !important;
            -o-transition: 1.25s opacity ease !important;
            -ms-transition: 1.25s opacity ease !important;
        }

        sub {
            font-weight: lighter;
            font-family: 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 0.9rem;
            // color: #ddd;
            margin-left: 3px;
        }
    }

    h1 {
        // width: 280px;
        line-height: 3rem;
        font-weight: 500;
        // text-align: center;
        font-family: serif;
        font-size: 2.8rem;

        span {
            // -webkit-text-stroke: 1px #fff;
            // color: transparent;
        }
    }

    #sw-up {
        position: absolute;
        bottom: 30px;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);

        &.hide{
            opacity: 0 !important;
            transition: .35s opacity ease !important;
            -webkit-transition: .35s opacity ease !important;
            -moz-transition: .35s opacity ease !important;
            -o-transition: .35s opacity ease !important;
            -ms-transition: .35s opacity ease !important;
        }

        p {
            font-size: 14px;
            text-transform: uppercase;
            font-family: 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        #sw-bar {
            width: 10%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            text-align: center;
            background: #fff;
            animation: expand 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite alternate;
        }

        #sw-det{
            position: absolute;
            width: max-content;
            font-family: 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 0.9rem;
            font-weight: lighter;
            transition: all .35s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }

    #triangle {
        transform: translateY(-25px);
    }

    #contact-icons {
        position: fixed;
        bottom: 50px;
        right: 50px;
        overflow: hidden;

        #open-contact {
            display: none
        }

        ol {
            // height: 0;
            position: relative;
            overflow: hidden;

            li {
                display: block;
                text-align: center;
                width: 30px;
                height: 30px;
                position: relative;
                overflow: hidden;
                margin: 10px 0;

                a {
                    left: 50%;
                    top: 50%;
                    position: absolute;
                    transform: translate(-50%, 120%);
                    transition: all .45s ease;
                }
            }

            li:nth-child(3) {
                a {
                    transition: .45s all .2s ease;
                }
            }

            li:nth-child(2) {
                a {
                    transition: .45s all .1s ease;
                }
            }

            li:nth-child(1) {
                a {
                    transition: all .45s ease;
                }
            }
        }



        &.active {
            #open-contact {
                transition: .45s all .45s ease;
                transform: scale(0.7);

                .plus {
                    &::before {
                        transform: translate(-50%, -50%) rotate(-90deg);
                        transition: all .45s ease;
                    }
                }
            }

            ol {
                li {
                    a {
                        transition: .45s all .75s ease;
                        transform: translate(-50%, -50%);
                    }
                }

                li:nth-child(1) {
                    a {
                        transition: .45s all .65s ease;
                    }
                }

                li:nth-child(2) {
                    a {
                        transition: .45s all .55s ease;
                    }
                }

                li:nth-child(3) {
                    a {
                        transition: .45s all .45s ease;
                    }
                }
            }
        }
    }

    #open-contact {
        width: 25px;
        height: 25px;
        padding: 15px;
        margin-top: 5px;
        position: relative;
        background: transparent;
        border: none;
        outline: none;
        transition: all .45s ease;

        .plus {
            position: absolute;
            width: 22px;
            height: 0px;
            // background: #fff;
            border: 1px solid #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // transform-origin: center center;

            &::before {
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                height: 22px;
                width: 0px;
                border: 1px solid #fff;
                transition: .45s all .45s ease;
            }
        }
    }

}

// Keyframe animations
@keyframes expand {
    from {
        width: 0%;
    }

    8% {
        width: 100%;
    }

    92% {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@-webkit-keyframes expand {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

// End key frame animations

// When page loads
.page-loaded {
    overflow-y: visible;

    #home {
        .home-mess {
            opacity: 1;
            transition: 1.25s opacity 3s ease;
            -webkit-transition: 1.25s opacity 3s ease;
            -moz-transition: 1.25s opacity 3s ease;
        }
    }

    #sw-up {
        transition: .45s all 3.85s cubic-bezier(0.82, 0.03, 0.21, 0.99);
        -webkit-transition: .45s all 3.85s cubic-bezier(0.82, 0.03, 0.21, 0.99);
        -moz-transition: .45s all 3.85s cubic-bezier(0.82, 0.03, 0.21, 0.99);
        opacity: 1 !important;
    }
}

// page load end


// Responsiveness
@media only screen and (min-width: 768px) {
    #home {
        #contact-icons {
            ol {
                li {

                    a {
                        transform: translate(-50%, -50%) !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #home {
        #contact-icons {
            #open-contact {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 441px) {
    #home {
        #contact-icons {
            bottom: 35px;
            right: 35px;
        }
    }
}

// 